/* 头 */
#head{
    height: 100px;
    background-color: rgb(50, 50, 50);
    width: 100%;
}
/* 中 */
#main{
    height: 500px;
    background-color: rgb(150, 150, 150);
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* 底 */
#bottom{
    height: 100px;
    width: 100%;
    background-color: rgb(45, 45, 45);
    padding-top: 5px;
    /* 居底 */
    /* margin-top: 5px; */
    /* position: fixed; */
    /* bottom: 0px; */
    /* 居中 */
    table-layout: fixed; 
    text-align:center;
}
.bottom-text{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(100, 100, 100);
}
.bottom-text-2{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}